.header{
    padding: 50px;
    display: flex;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

.dldescription{
    display: flex;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

.semi-transparent-square {
    width: 1150px;
    height: 550px;
    background-color: rgba(225,225,225); /* Using rgba with alpha value for transparency */
    border-radius: 10px; /* Rounded edges */
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Adjust as needed */
    margin: 0 auto;
    margin-top: 50px; /* Adjust margin-top for spacing */
    text-decoration: none; 
  }
  
  .box {
    
    width: calc(30% - 10px); /* Adjust width and spacing as needed */
    height: 500px; /* Adjust height as needed */
    background-color: rgba(150, 150, 150, 0.5); /* Adjust transparency and color */
    text-decoration: none;
  }

  .logo{
    width: calc(50%); /* Adjust width and spacing as needed */
    height: calc(40%); /* Adjust height as needed */
    padding-left: calc(25%);
    padding-top: calc(10%);
  }


  .box button {
    color: white;
    font-size: 26px; /* Adjust font size */
    font-family: Arial, sans-serif; /* Change font family */
    background-color: #696969;
    border: 1px solid #696969;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 10%;
    text-decoration: none;
  }

  .box a {
    text-decoration: none; /* Remove underline */
  }