body {
    --btn-primary: #7D7DF7;
    --border: #C0BFBF;
    --link-color: #505F98;
    --btn-primary-dark: #111b47;
    --btn-secondary: transparent;
}


.main {
    height: 200vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}

.navbar a {
    color: var(--link-color);
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    gap: 300px;
}

.pages {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    align-items: center;
    gap: 24px;
}

.general {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.head {
    position: relative;
    margin: 128px 0 0 48px;
    width: calc(100% - 648px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title > .title {
    font-size: 64px;
    font-family: 'Roboto';
    font-family: Impact, Charcoal, sans-serif;
    margin-left: 20px;
}

.title > img {
    margin: -12px 0;
}

.description {
    width: 80%;
    display: inline;
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 20px;
}

.teamsdescription {
    font-size: 30px;
    font-family: 'normal';
    font-weight: lighter;
    color: rgb(0,0,102);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 53%; /* Set your desired width */

    margin-left: 550px; /* Moves text 20px to the right */
    margin-top: 670px;
    position: absolute;
    top: 5px; /* Moves text 5px down from its normal position */
}

.my-box {
    margin-top: -745px;    /* Move the box down by 20px */
    margin-left: 525px;   /* Move the box right by 50px */
    width: 700px;        /* Width of the box */
    height: 250px;       /* Height of the box */
    background-color: rgba(225,225,225); /* Using rgba with alpha value for transparency */
    border-radius: 10px; /* Rounded edges */
}

.bigTeamsBox {
    margin-top: 100px;    /* Move the box down by 20px */
    margin-left: 10px;   /* Move the box right by 50px */
    width: 1230px;        /* Width of the box */
    height: 250px;       /* Height of the box */
    background-color: #7D7DF7; /* Using rgba with alpha value for transparency */
    border-radius: 10px; /* Rounded edges */
}

.teamsChecklist {
    font-size: 22px;
    font-family: 'normal';
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    /*justify-content: center;
    align-items: center;
    text-align: left;*/
    width: 100%; /* Set your desired width */
}

.teamsChecklist .one{
    /*top: 300px; /* Adjust top position as needed */
    /*left: 50px; /* Adjust left position as needed */
    
    /*margin-top: -195px;
    margin-left: -350px;*/
    /*margin-top: -350px;
    margin-left: -725px;*/

    margin-top: 50px;
    margin-left: 100px;

    /*top: 600px; /* Adjust top position as needed */
    /*left: 50px; /* Adjust left position as needed */
  }

.checkmarkone{
    z-index: 10;
    position: absolute;
    /*bottom: -490px;
    right: 1125px;*/

    
    /*margin-top: -220px; /*more negative means up*/ 
    /*margin-left: 70px; /*do not change*/
    
    height: calc(90vh - 128px);
    max-width: 10%;
    max-height: 10%;

    top: 1035px;
    left: 45px;
}

  
.teamsChecklist .two{ 
    /*margin-top: -150px;
    margin-left: -800px;*/
    
    margin-top: 55px;
    margin-left: 100px;
  }

.checkmarktwo{
    /*margin-top: -120px; /*more negative means up*/
    /*margin-left: 70px; /*do not change*/

    z-index: 10;
    position: absolute;
    height: calc(90vh - 128px);
    max-width: 10%;
    max-height: 10%;

    top: 1135px;
    left: 45px;
}

.teamsChecklist .three{ 
    /*margin-top: -350px;
    margin-left: 100px; /*less negative means right*/
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.checkmarkthree{
    z-index: 10;
    position: absolute;
    margin-top: -220px; /*more negative means up*/ 
    margin-left: 450px; /*do not change*/
    height: calc(90vh - 128px);
    max-width: 10%;
    max-height: 10%;
}

.teamsChecklist .four{ 
    /*margin-top: -150px;
    margin-left: 100px; /*less negative means right*/
  }

.checkmarkfour{
    z-index: 10;
    position: absolute;
    /*margin-top: -120px; /*more negative means up*/ 
    /*margin-left: 450px; /*do not change*/
    height: calc(90vh - 128px);
    max-width: 10%;
    max-height: 10%;
}


.teamsChecklist .five{ 
    /*margin-top: -350px;
    margin-left: 100px; /*less negative means right*/
  }

.checkmarkfive{
    z-index: 10;
    position: absolute;
    /*margin-top: -220px; /*more negative means up*/ 
    /*margin-left: 450px; /*do not change*/
    height: calc(90vh - 128px);
    max-width: 10%;
    max-height: 10%;
}

.teamsChecklist .six{ 
    /*margin-top: -150px;
    margin-left: 100px; /*less negative means right*/
  }

.checkmarksix{
    z-index: 10;
    position: absolute;
    /*margin-top: -120px; /*more negative means up*/ 
    /*margin-left: 450px; /*do not change*/
    height: calc(90vh - 128px);
    max-width: 10%;
    max-height: 10%;
    top: 10px;
    left: 10px;
}


.actions {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.actions > a {
    padding: 8px 0;
    width: 45%;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    text-align: center;
}

.signup {
    background-color: var(--btn-primary-dark);
    color: white;
    border: none;
}

.signin {
    background-color: var(--btn-secondary);
    color: black;
    border: 2px solid black;
}

.splash {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100vh - 128px);
}

.phone {
    position: absolute;
    bottom: 48px;
    right: 124px;
    height: calc(90vh - 128px);
    /*display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -12px 0;*/
}

.computer {
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    bottom: -350px;
    right: 700px;
    height: calc(90vh - 128px);
}

.btn {
    text-decoration: none;
    background-color: var(--btn-primary);
    padding: 4px 12px;
    color: white !important;
}

.copy {
    position: fixed;
    bottom: 12px;
    left: 12px;
    color: grey;
}

.login_form {
    margin: 64px auto;
    width: 50vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.login_form > input {
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.notes_main {
    display: flex;
    height: calc(100vh - 67px);
}

.sidebar {
    height: calc(100% - 48px);
    width: 20%;
    border-right: 1px solid var(--border);
    padding: 24px;
}

.sidebar > .top {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Roboto';
    border-bottom: 1px solid var(--border);
    padding-bottom: 16px;
}

.notes {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--border) 5%, #ffffff 5%, #ffffff 100%);
    background-size: 28.28px 28.28px;
}

.writing {
    resize: none;
    background: transparent;
    width: 90%;
    margin: 0 0 0 10%;
    height: calc(100% - 2px);
    border: none;
    border-left: 1px solid red;
    outline: none;
    line-height: 28.28px;
    font-size: 20px;
}

.files {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    padding: 12px 0;
}

.files > button {
    width: 80%;
    height: 28px;
    font-size: 20px;
}


.round-button {
    border-radius: 10px; /* Adjust the value to control the roundness of corners */
    width: 120px; /* Set the width */
    height: 40px; /* Set the height */
    background-color: #3498db; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    font-size: 16px; /* Font size */
    font-weight: bold;
    cursor: pointer;
    color: black; 
  }

  .button-container {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    display: flex; /* Use flexbox to arrange buttons horizontally */
    flex-direction: row; /* Arrange buttons in a row */
    border: 2px solid rgba(159, 159, 161, 0.5);
    border-radius: 5px; /* Optional: add border radius for a rounded look */
    padding: 10px; /* Optional: add padding inside the border */
  }
  
  .instagram-btn {
    margin-right: 10px; /* Add some margin between buttons */
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 50px;
  }
  
  .instagram-btn:last-child {
    margin-right: 0; /* Remove margin for the last button */
  }
  
  